<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #c2410c; /* Red background */ padding: 20px 0;">
  <tr>
    <td align="center">
      <img src="<%= image_url('logo_krypton.jpg') %>" alt="Logo" style="display: block; border-radius: 50%; /* Rounded corners */ width: 100px; /* Adjust width as needed */ height: auto;">
    </td>
  </tr>
</table>
