<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-red-600">Se desenvolva profissionalmente</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Tudo que você precisa para se formar como bombeiro civil</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Além de vários outros cursos que podem ajudá-lo na tão sonhada nova oportunidade de emprego.</p>
    </div>
    <div class="mx-auto max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <%= render "shared/hero_courses" %>
    </div>
  </div>
</div>
