<footer class="bg-white lg:grid lg:grid-cols-5">
  <div class="relative block h-32 lg:col-span-2 lg:h-full">
    <%= image_tag "botijao.jpg", class: "absolute inset-0 h-full w-full object-cover" %>
  </div>

  <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      <div>
        <p>
          <span class="text-xs uppercase tracking-wide text-gray-500"> Contato </span>
          <a href="https://api.whatsapp.com/send?phone=5511997669097" class="flex text-2xl font-medium text-gray-900 hover:opacity-75 sm:text-3xl">
            11 99766-9097
           <%# <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" id="screenshot-fe0d3fca-d6d7-8158-8003-c77b0bc54f96" viewBox="2810 15562 448 512" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
            <g id="shape-fe0d3fca-d6d7-8158-8003-c77b0bc54f96" data-testid="Graphics / Brands / whatsapp.svg">
              <defs>
                <clipPath id="frame-clip-fe0d3fca-d6d7-8158-8003-c77b0bc54f96-render-410" class="frame-clip frame-clip-def">
                  <rect rx="0" ry="0" x="2810" y="15562" width="448" height="512" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)">
                  </rect>
                </clipPath>
              </defs>
              <g clip-path="url(#frame-clip-fe0d3fca-d6d7-8158-8003-c77b0bc54f96-render-410)" fill="none">
                <g class="fills" id="fills-fe0d3fca-d6d7-8158-8003-c77b0bc54f96">
                  <rect rx="0" ry="0" x="2810" y="15562" width="448" height="512" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="frame-background">
                  </rect>
                </g>
                <g class="frame-children">
                  <g id="shape-fe0d3fca-d6d7-8158-8003-c77b0bc52382" data-testid="Graphics / Brands / whatsapp.svg" style="fill:#000000" rx="0" ry="0">
                    <g id="shape-fe0d3fca-d6d7-8158-8003-c77b0bc52383" data-testid="base-background" style="display:none">
                      <g class="fills" id="fills-fe0d3fca-d6d7-8158-8003-c77b0bc52383">
                        <rect rx="0" ry="0" x="2810" y="15562" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" width="448" height="512" fill="none" style="fill:none">
                        </rect>
                      </g>
                    </g>
                    <g id="shape-fe0d3fca-d6d7-8158-8003-c77b0bc52384" data-testid="svg-path">
                      <g class="fills" id="fills-fe0d3fca-d6d7-8158-8003-c77b0bc52384">
                        <path d="M3190.900,15659.100C3149.000,15617.100,3093.200,15594.000,3033.900,15594.000C2911.500,15594.000,2811.900,15693.600,2811.900,15816.000C2811.900,15855.100,2822.100,15893.300,2841.500,15927.000L2810.000,16042.000L2927.700,16011.100C2960.100,16028.800,2996.600,16038.100,3033.800,16038.100L3033.900,16038.100C3156.200,16038.100,3258.000,15938.500,3258.000,15816.100C3258.000,15756.800,3232.800,15701.100,3190.900,15659.100ZZM3033.900,16000.700C3000.700,16000.700,2968.200,15991.800,2939.900,15975.000L2933.200,15971.000L2863.400,15989.300L2882.000,15921.200L2877.600,15914.200C2859.100,15884.800,2849.400,15850.900,2849.400,15816.000C2849.400,15714.300,2932.200,15631.500,3034.000,15631.500C3083.300,15631.500,3129.600,15650.700,3164.400,15685.600C3199.200,15720.500,3220.600,15766.800,3220.500,15816.100C3220.500,15917.900,3135.600,16000.700,3033.900,16000.700ZZM3135.100,15862.500C3129.600,15859.700,3102.300,15846.300,3097.200,15844.500C3092.100,15842.600,3088.400,15841.700,3084.700,15847.300C3081.000,15852.900,3070.400,15865.300,3067.100,15869.100C3063.900,15872.800,3060.600,15873.300,3055.100,15870.500C3022.500,15854.200,3001.100,15841.400,2979.600,15804.500C2973.900,15794.700,2985.300,15795.400,2995.900,15774.200C2997.700,15770.500,2996.800,15767.300,2995.400,15764.500C2994.000,15761.700,2982.900,15734.400,2978.300,15723.300C2973.800,15712.500,2969.200,15714.000,2965.800,15713.800C2962.600,15713.600,2958.900,15713.600,2955.200,15713.600C2951.500,15713.600,2945.500,15715.000,2940.400,15720.500C2935.300,15726.100,2921.000,15739.500,2921.000,15766.800C2921.000,15794.100,2940.900,15820.500,2943.600,15824.200C2946.400,15827.900,2982.700,15883.900,3038.400,15908.000C3073.600,15923.200,3087.400,15924.500,3105.000,15921.900C3115.700,15920.300,3137.800,15908.500,3142.400,15895.500C3147.000,15882.500,3147.000,15871.400,3145.600,15869.100C3144.300,15866.600,3140.600,15865.200,3135.100,15862.500ZZ">
                        </path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>  %>
          </a>

          <%# <a href="https://api.whatsapp.com/send?phone=11982065921" class="block text-2xl font-medium text-gray-900 hover:opacity-75 sm:text-3xl">
            11 98206-5921
          </a> %>
        </p>

        <ul class="mt-8 space-y-1 text-sm text-gray-700">
          <p>
            <span class="text-xs uppercase tracking-wide text-gray-500"> Aulas </span>
          </p>
          <li>Durante a semana: das 9h às 12h</li>
          <li>Sábados: das 9h às 12h</li>
        </ul>

        <ul class="mt-8 flex gap-6">
          <li>
            <a
              href="https://www.facebook.com/kryptontreinamentos/?locale=pt_BR"
              rel="noreferrer"
              target="_blank"
              class="text-gray-700 transition hover:opacity-75"
            >
              <span class="sr-only">Facebook</span>

              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/krypton_treinamentos"
              rel="noreferrer"
              target="_blank"
              class="text-gray-700 transition hover:opacity-75"
            >
              <span class="sr-only">Instagram</span>

              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div>
          <p class="font-medium text-gray-900">Serviços</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="#" class="text-gray-700 transition hover:opacity-75"> Para empresas </a>
            </li>

            <%# <li>
              <a href="#" class="text-gray-700 transition hover:opacity-75"> Company Review </a>
            </li>

            <li>
              <a href="#" class="text-gray-700 transition hover:opacity-75"> Accounts Review </a>
            </li>

            <li>
              <a href="#" class="text-gray-700 transition hover:opacity-75"> HR Consulting </a>
            </li>

            <li>
              <a href="#" class="text-gray-700 transition hover:opacity-75"> SEO Optimisation </a>
            </li> %>
          </ul>
        </div>

        <div>
          <p class="font-medium text-gray-900">Escola</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="#" class="text-gray-700 transition hover:opacity-75"> Cursos </a>
            </li>

            <li>
              <a href="#" class="text-gray-700 transition hover:opacity-75"> Contato </a>
            </li>

          </ul>
        </div>
        <div class="text-center sm:text-left sm:col-span-2">
          <p class="text-lg font-medium text-gray-900">Dados</p>

          <ul class="mt-8 space-y-4 text-sm">
            <%# <li>
              <a
                class="flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end"
                href="#"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-5 shrink-0 text-gray-900"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>

                <span class="flex-1 text-sm text-gray-700">kryptontreinamentos@gmail.com</span>
              </a>
            </li> %>

            <li>
              <a
                class="flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end"
                href="https://api.whatsapp.com/send?phone=5511997669097"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-5 shrink-0 text-gray-900"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                  />
                </svg>

                <span class="flex-1 text-gray-700">11 99766-909711</span>
              </a>
            </li>

            <li>
              <a href="https://maps.app.goo.gl/uVeNGHYjWgkyLMpY7"
                 target="_blank"
                 class="flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-5 shrink-0 text-gray-900"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
                <address class="-mt-0.5 flex-1 not-italic text-gray-700">
                  Rua: Marechal Deodoro, N° 1805, São Bernardo do Campo, Brasil
                </address>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-12 border-t border-gray-100 pt-12">
      <div class="sm:flex sm:items-center sm:justify-between">
        <ul class="flex flex-wrap gap-4 text-xs">
          <%# <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75"> Terms & Conditions </a>
          </li>

          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75"> Privacy Policy </a>
          </li>

          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75"> Cookies </a>
          </li> %>
        </ul>

        <p class="mt-8 text-xs text-gray-500 sm:mt-0">
          &copy; <%= Time.now.year %>. Krypton Treinamentos.
        </p>
      </div>
    </div>
  </div>
</footer>
