<h2>Olá! Houve uma nova candidatura registrada.</h2>

<p>Acesse <%= link_to "a área administrativa", admin_enrollments_url, style: "color: #6B7280; text-decoration: underline;" %> para visualizar.</p>
