<h2>Olá, foi registrada uma nova candidatura no site!</h2>

<p>Acesse a <%= link_to "área administrativa", admin_enrollments_url, style: "color: #6B7280; text-decoration: underline;" %> para visualizar.</p>

